#main_place_post{
    margin-bottom: 0;
}

#post{
    position: relative;
    width: 1050px;
    height: auto;
    min-height: 1000px;
    background-color: rgb(255, 255, 255);
    padding-right: 30px;
    padding-left: 20px;
    margin-top: 30px;
    padding-bottom: 150px;
    margin-bottom: 5px;
}

#navpult{
    width: 100%;
    height: auto;
    min-height: 1000px;
    background-color: white;   
    margin-top: 30px;
    margin-left: 10px;
}

#main_place_post{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.post_author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post_author .author_block{
    font-family:'ZillaMedium';
    font-size: 20px;
    border: 1px solid rgba(161, 173, 194, 0.671);
    border-radius: 5px;
    min-width: 120px;
    height: 30px;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px -1px rgb(158, 232, 255);
}

.name_of_full_post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 35px;
    font-family: 'ZillaMedium';
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.categories .cat{
    background-color: rgb(208, 253, 255);
    border-radius: 2px;
    border: 1px solid rgba(130, 134, 190, 0.788);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 15px;
    font-family: 'ZillaLight';
    margin-right: 5px;
}

.shr_desc_full_post{
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'ZillaLight';
    border-radius: 2px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(192, 192, 192, 0.788);
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'ZillaMedium';
    color: rgb(29, 29, 29);
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
}

.fullpost_borders{
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 0 5px 2px rgb(223, 223, 223);
}

#fullpost_bottom{
    min-height: 250px;
    height: auto;
    overflow: hidden;
    background-color: white;
    width: 100%;
    padding: 15px;
}

.post_rating_field{
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
    width: 145px;
    justify-content: space-between;
}

.rating_item img{
    width: 40px;
    height: 40px;
}

.img_button_raiting{
    background-color: rgb(255, 255, 255);
    border: none;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.img_button_raiting span{
    font-size: 15px;
    padding-left: 2px;
}

.comments_list li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 2px 6px -2px rgb(199, 199, 199);
    min-height: 120px;
    height: auto;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    position: relative;
    justify-content: stretch;
}

.auth_cmt{
    font-size: 22px;
    font-family: 'ZillaMedium';
    margin-bottom: 2px;
}

.txt_cmt{
    font-size: 16px;
    font-family: 'ZillaMedium';
    border-radius: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    margin-bottom: 15px;
}

.dt_cmt{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: rgb(105, 105, 105);   
    font-size: 14px;
}



.comment_form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

.comment_form p{
    font-size: 18px;
    font-family: 'ZillaLight';
    margin-bottom: 2px;
}

.submit_comment{
    margin-top: 4px;
    align-self: flex-end;
    height: 35px;
    width: 105px;
    border-radius: 2px;
    border: 1px solid rgb(0, 241, 0);
    background-color: rgb(49, 255, 8);
    box-shadow: 0 1px 10px -2px rgb(69, 255, 69);
    color: white;
    font-size: 14px;
    font-family: 'Roboto';
}

.comment_form_text{
    resize: none;
    padding: 5px;
    font-size: 18px;
    font-family: 'ZillaMedium';
    border-radius: 2px;
    border: 1px solid rgb(112, 112, 112);
}