#user_block{
    position: relative;
    margin-left: 40px;

}

#main_user_visible{
    height: 40px;
    min-width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
}

#main_user_visible p{
    color: white;
    font-size: 20px;
    font-family: 'Lato';
    margin-left: 15px;
}

#main_user_visible img{
    margin-left: 5px;
    border-radius: 50%;
    border: none;
}

#main_user_visible p:hover{
    color: rgb(121, 121, 121);
}

#user_block nav{
    position: absolute;
    background-color: rgba(254, 254, 254, 0.911);
    margin-top: 7px;
    min-height: 190px;
    width: 180px;
    border-radius: 1px 1px 2px 2px;
    border: 1px solid rgba(207, 202, 202, 0.842);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: -3px;
}

#user_block_submenu{
    padding-top: 20px;
}

#user_block_submenu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 170px;
    height: 35px;
}

#user_block_submenu li:hover{
    background-color: rgba(247, 247, 247, 0.911);
}

#user_block_submenu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.08em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(236, 230, 230, 0.87);
    margin-left: 20px;
    height: 25px;
}

.plus_in_submenu{
    margin-left: 5px;
    width: 15px;
    height: 15px;
}