#user_block{
    position: relative;
    margin-left: 40px;

}

#main_user_visible{
    height: 40px;
    min-width: 150px;
    border: 2px solid rgb(73, 73, 73);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#main_user_visible p{
    color: white;
    font-size: 20px;
    font-family: 'Lato';
    margin-left: 15px;
}

#main_user_visible img{
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid rgb(128, 128, 128);
}

#main_user_visible p:hover{
    color: rgb(121, 121, 121);
}

#user_block nav{
    position: absolute;
    background-color: rgba(253, 254, 255, 0.911);
    margin-top: 5px;
    min-height: 200px;
    width: 200px;
    border-radius: 1px 1px 2px 2px;
    border: 2px solid rgba(163, 163, 163, 0.842);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    right: 0;
}

#user_block_submenu{
    padding-top: 20px;
}

#user_block_submenu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 35px;
}

#user_block_submenu li:hover{
    background-color: rgba(247, 247, 247, 0.911);
}

#user_block_submenu li a{
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.11em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(221, 214, 214);;
}

#plus_in_submenu{
    color: rgb(0, 255, 0);
    font-size: 35px;
    margin-left: 5px;
    font-family: 'Roboto';
}