

.post_article_page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    height: inherit;
    width: 100%;
}

#article_add_form{
    margin-top: 20px;
    align-self: flex-start;
    box-sizing: border-box;
    padding-top: 50px;
    width: 1100px;
    height: auto;
    background-color: rgb(253, 253, 253);
}

#article_add_form form{
    display: grid;
    box-sizing: border-box;
    width: inherit;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.post_article_page.submit_button {
    justify-self: self-end;
}

#form_item{
    margin-bottom: 20px;
}

#form_item textarea{
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

#form_item .label{
    margin-left: 1px;
    margin-bottom: 2px;
    font-size: 25px;
    font-family: 'ZillaMedium';
    width: auto;
    display: flex;
    justify-content: flex-start;
    color: rgb(65, 65, 65);
}

#form_item textarea[name = 'name']{
    height: 75px;
    font-size: 17px;
    padding: 5px;
}

#form_item textarea[name = 'short_description']{
    height: 125px;
    font-size: 17px;
    padding: 5px;
}

#form_item textarea[name = 'text']
{
    height: 1100px;
    font-size: 20px;
}

#form_item textarea{
    resize: none;
}

#article_add_form input[type = 'submit']{
    font-family: 'Roboto';
    font-size: 30px;
    border-radius: 25px;
    border: 1px solid rgba(0, 255, 0, 0.801);
    background-color: rgb(9, 255, 0);
    color: rgb(255, 255, 255);
    width: 250px;
    height: 50px;
    box-shadow: 0 0 5px 0 rgba(0, 219, 0, 0.904);
}

.select_cat{
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 40px;
    font-family: 'ZillaLight';
    font-size: 25px;
}

#side_addpost_page{
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.trumbowyg-box, .trumbowyg-editor {
    z-index: 0;
}
