@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf');
}


.registration{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.registration form{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    justify-items: center;
    padding-bottom: 150px;
}

.reg_form_item{
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Lato';
}

.reg_form_item input[type = text], input[type = password]{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

input[type = submit]{
    display: block;
    height: 35px;
    width: 300px;
    background-color: white;
    border-color:black;
    border-radius: 5px;
    border-width: 2px;
    color: black;
    font-size: 20px;
    font-family: 'Roboto';
}


.error_mess{
    color: red;
    font-size: 20px;
    font-family: 'Lato';
}








