{%extends 'index.html'%}

{%block auth_header_user%}
    {%if is_auth%}
        {%include 'auth_header_user.html'%}
    {%else%}
        <div class = 'h_nav_item'><a href="/registration">SigIn</a></div>
        <div class = 'h_nav_item'><a href="/login"       >LogIn</a></div>    
    {%endif%}
{%endblock%}

{%block content%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/fullpost_page.css' %}">
<div id="main_place_post">
    <div id = 'post' class="fullpost_borders">
        <div class = 'post_author'>
            <div class = 'author_block'>
            {{post.author}}
            </div>
        </div>
        <div class = 'name_of_full_post text_wrap_overflow'>
            {{post.name}}
        </div>
        <div class = 'categories'>
            {%for ct in post.cat%}
            <div class = 'cat'>
                {{ct}}
            </div>    
            {%endfor%}
        </div>
        <div class = 'shr_desc_full_post text_wrap_overflow'>
            {{post.shrt_desc}}
        </div>
        <div class = 'text text_wrap_overflow'>
            
            {{post.text|safe}}
        </div>    
    </div>
    <div id="fullpost_bottom" class= "fullpost_borders">
        fsd
    </div>
</div>

<div id = 'navpult' class="fullpost_borders">

</div>
{%endblock%}