<!DOCTYPE html>
{%load static%}
<html>
<header>
    <meta charset="utf-8">
    <title>Litblog</title>
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/fonts.css'%}">
    <link rel="stylesheet" href="{%static 'css/articles_container.css'%}">
    <link rel="stylesheet" href="{%static 'css/article_filter.css'%}">
    <link rel="stylesheet" href="{%static 'css/header_user_block.css'%}">
    <script type="text/javascript" src="{%static 'js/jquery-3.6.0.js'%}"></script>
</header>
<body>
    <div class = 'Header'>
        <div class = 'h_item'>
            <div class = 'logo' >
                <a href="/">
                    Litblog
                </a>
            </div>
            <div class = 'header_navbar'>
                    <div class = 'h_nav_item'><a href="/about"       >About</a></div>
                {%if is_auth%}
                    {% include 'auth_user_header.html' %}
                {%else%}
                    <div class = 'h_nav_item'><a href="/registration">SigIn</a></div>
                    <div class = 'h_nav_item'><a href="/login"       >LogIn</a></div>
                {%endif%}    
            </div>
        </div>
    </div>
    <div class = 'navbar'>
        {%block navbar%}

        {%endblock%}
    </div>
    <div class = 'content'>
        {%block content%}
        <div id = 'articles_container'>
            {%for post in articles%}
            <div class = 'box_post'>
                <a href="/">
                    <div class="box_post_user ">
                        {{post.author}}
                    </div>
                </a>
                <a href="/post/?id={{post.id}}">
                    <div class = 'name_of_post text_wrap_overflow'>
                        {{post.name}}
                    </div>    
                </a>
                <div class = 'category'>
                    {%for category in post.cat%}
                    <div class = 'cat_item'>
                        {{category}}
                    </div>
                    {%endfor%}
                </div>
                <div class = 'description text_wrap_overflow'>
                    {{post.shrt_desc}}
                </div>
                <div class = 'datetime_post'>
                    {%if post.date_post and post.time_post%}
                    <p> 
                        {%if post.changed_flag%}
                        <span>Changed: </span>
                        {%endif%}
                        {{post.date_post}}
                        {{post.time_post}}
                    </p>
                    {%endif%}
                </div>
            </div>
            {%endfor%}    
        </div>
        <div id = 'pult_main_page'>
            <div id = 'filter_field'>
                <p>SEARCH FILTER</p>
                <form method="GET">
                    {%csrf_token%}
                    {%for item in FilterForm%}
                    <div class = 'filter_item'>
                        <div class = 'label_filter_field'>{{item.label}}</div>
                        <div class = '{{item.name}} input_field'>{{item}}</div>
                        {{item.errors}}
                    </div>
                    {%endfor%}
                    <input type="submit" value="Search" id = 'filter_submit'>
                </form>
            </div>
        </div>
        {%endblock%}
    </div>    
</body>
</html>