<!DOCTYPE html>
{%load static%}
<html>
<header>
    <meta charset="utf-8">
    <title>Litblog</title>
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/fonts.css'%}">
    <link rel="stylesheet" href="{%static 'css/articles_container.css'%}">
    <link rel="stylesheet" href="{%static 'css/article_filter.css'%}">
</header>
<body>
    <div class = 'Header'>
        <div class = 'h_item'>
            <div class = 'logo' >
                <a href="/">
                    Litblog
                </a>
            </div>
            <div class = 'header_navbar'>
            </div>
            <div class = 'header_navbar'>
                <div class = 'h_nav_item'><a href="/about"       >About</a></div>
                {% block auth_header_user %}
                <div class = 'h_nav_item'><a href="/registration">SigIn</a></div>
                <div class = 'h_nav_item'><a href="/login"       >LogIn</a></div>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class = 'navbar'>
        {%block navbar%}

        {%endblock%}
    </div>
    <div class = 'content'>
        {%block content%}
        <div id = 'articles_container'>
            {%for post in articles%}
            <div class = 'box_post'>
                <a href="/post/?id={{post.id}}">
                    <div class = 'name_of_post'>
                        {{post.name}}
                    </div>    
                </a>
                <div class = 'category'>
                    {%for category in post.cat%}
                    <div class = 'cat_item'>
                        {{category}}
                    </div>
                    {%endfor%}
                </div>
                <div class = 'description'>
                    {{post.shrt_desc}}
                </div>
            </div>
            {%endfor%}    
        </div>
        <div id = 'pult'>
            <div id = 'filter_field'>
                <p>Search filter</p>
                <form method="GET">
                    {%csrf_token%}
                    {%for item in FilterForm%}
                    <div class = 'filter_item'>
                        <div class = 'label_filter_field'>{{item.label}}</div>
                        <div class = '{{item.name}}'>{{item}}</div>
                    </div>
                    {%endfor%}
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
        {%endblock%}
    </div>    
</body>
</html>