{%extends 'index.html'%}

{%block content%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/user_profile.css'%}">
<div class = 'user_profile'>
    <div class = 'profile_avatar block_border_profile'>
        <p class="username">{{Profile.username}}</p>
        <!--<img class="img_avatar" src='https://vraki.net/sites/default/files/inline/images/10_342.jpg' alt="avatar">-->
        <img src={{Profile.avatar_url}} alt="avatar">
        <form id ='set_avatar' method="post" action='/account/set-avatar' enctype="multipart/form-data">
            {%csrf_token%}
            <div class="sl_file">
                <input class="file_button" id="file" name="avatar" type="file" accept="image/png, image/jpeg, image/jpg">
            </div>
            <input class="send_file" type="submit" value="Load">
        </form>
    </div>
    <div class="main_field_profile block_border_profile">
        <div class="user_container">
            <p class="username_main">{{Profile.username}}</p>
            <p class="date_registration">Registrated: <span>{{Profile.date_registration}}</span></p>
        </div>
        <div class="user-inf">
            <ul class="statistic_list">
                <li>Your articles:  <span>{{Profile.articles}}</span></li>
                <li>Your likes:     <span>{{Profile.likes}}</span></li>
                <li>Your diselikes: <span>{{Profile.dislikes}}</span></li>
                <li>Your comments:  <span>{{Profile.comments}}</span></li>
            </ul>            
        </div>
    </div>

</div>

{%endblock%}